.vs
packages/
hdtree/Win64/
hdtree/Win32/
hdtreeapp/Win64/
hdtreeapp/Win32/
hdtree/__astcache/
hdtree/__history/
hdtreeapp/__astcache/
hdtreeapp/__history/
Win64/
Win32/
hdtree/hdtree.cbproj.local
hdtreeapp/hdtreeapp.cbproj.local
