/.vs
/packages/Microsoft.Windows.CppWinRT.2.0.220531.1
/hdtree/Win64/Debug
/hdtree/__astcache
/hdtree/__history
/hdtree/Win64/Release
/hdtreeapp/__astcache/@d@@hdtree@hdtreeapp
/hdtreeapp/__astcache/d@@hdtree@hdtreeapp
/hdtreeapp/Win64/Debug
/hdtreeapp/__history
/hdtreeapp/Win64/Release
/Win64
/hdtree/Win32
/hdtreeapp/Win32
/Win32
/hdtree/hdtree.cbproj.local
/hdtreeapp/hdtreeapp.cbproj.local
